@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@400;700&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@400;500;700&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Open+Sans&family=Outfit:wght@300;400;600&family=Poppins:wght@400;600&family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "League Spartan", sans-serif;
  background-image: url(images/bg-pattern-top-mobile.svg),
    url(images/bg-pattern-bottom-mobile.svg);
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-color: hsl(0, 0%, 100%);
}
main {
  width: 80%;
  margin: 0 auto;
}
.product {
  text-align: center;
  margin-top: 3.125rem;
}
.product h1 {
  color: hsl(300, 43%, 22%);
  font-weight: 900;
  margin: 0 1.875rem 1.25rem 1.875rem;
  line-height: 1.375rem;
}
.product p {
  font-weight: 400;
  color: hsl(303, 10%, 53%);
  margin: 0 0.125rem 1.25rem 0.125rem;
}

.reviews,
.report_guru,
.best_teck {
  background-color: hsl(300, 24%, 96%);
  margin-bottom: 0.4375rem;
  text-align: center;
  color: hsl(300, 43%, 22%);
  font-weight: 900;
  border-radius: 0.375rem;
}
.card {
  background-color: hsl(300, 43%, 22%);
  margin-bottom: 0.625rem;
}

.card .card_header {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}
.card .title_and_subtitle {
  margin-left: 0.625rem;
}
.card .card-title {
  color: hsl(0, 0%, 100%);
  font-weight: 900;
}
.card .card-subtitle {
  color: hsl(333, 80%, 67%);
  font-weight: 500;
}
.card .card-text {
  color: hsl(0, 0%, 100%);
  margin-right: 1.25rem;
  font-weight: 400;
}
.card img {
  width: 2.5rem;
  border-radius: 50%;
}
@media screen and (min-width: 1024px) {
  body {
    background-image: url(images/bg-pattern-top-desktop.svg),
      url(images/bg-pattern-bottom-desktop.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-color: hsl(0, 0%, 100%);
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
  .section1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2.5rem;
    place-items: center;
  }
  .section2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.25rem;
  }
  .product h1 {
    font-size: 4.375rem;
    line-height: 3.75rem;
    text-align: left;
    margin: 0 0 1.875rem 0;
  }
  .product p {
    font-size: 1.4375rem;
    text-align: left;
  }
  .rated {
    width: 25.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .rated .reviews {
    grid-column: 1/4;
  }
  .rated .report_guru {
    grid-column: 2/5;
    grid-row: 2;
  }
  .rated .best_teck {
    grid-column: 3/6;
    grid-row: 3;
  }
  .iren_card {
    margin-top: 1.25rem;
  }
  .anne_card {
    margin-top: 2.5rem;
  }
}
@media all and (min-width: 1440px) {
  .rated {
    width: 37.5rem;
  }
}
